* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    line-height: 1.4;
    color: #1f1f1f;
}

.header {
    padding: "20px 0";
    line-height: "2em"
}

.form-container {
    display: flex;
    width: 100%;
}

.date {
    flex: .33;
    margin-right: 30px;
}

.input-text {
    flex: 8;
    font-size: 14px;
    padding: 12px 15px;
    border: 1px solid #cecece;
    outline: none;
    font-weight: 400;
    max-width: 80%;
}

.signal-item {
    padding: 10px 0;
}

.signal-button {
    min-width: 100px;
    margin-right: 10px;
    display: inline-block;
}